<!-- First screen -->
<div class="splash">
  <div class="centered-unit">
    <div class="container">
      <!-- Main header -->
      <h1>Seçim Sayacı 2023 - Seçimler Ne Zaman?</h1>
      <!-- Sub header -->
      <p class="lead">Seçime Ne Kadar Kaldı?</p>

      <!-- Countdown -->
      <div class="countdown circled large">
        <!-- Days -->
        <div class="time days">
          <div class="value">{{ days }}</div>
          <div class="unit">Gün</div>
        </div>
        <!-- Hours -->
        <div class="time hours">
          <div class="value">{{ hours }}</div>
          <div class="unit">Saat</div>
        </div>
        <!-- Minutes -->
        <div class="time minutes">
          <div class="value">{{ minutes }}</div>
          <div class="unit">Dakika</div>
        </div>
        <!-- Seconds -->
        <div class="time seconds">
          <div class="value">{{ seconds }}</div>
          <div class="unit">Saniye</div>
        </div>
      </div>
      <!-- Countdown end -->
    </div>
  </div>
</div>
